<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Profile</h4>
        </mat-card-title>
    </mat-card-header>
    
    <mat-list>
        <mat-list-item> ID:    {{profile._id}} </mat-list-item>
        <mat-list-item> EMAIL: {{profile.email}} </mat-list-item>
        <mat-list-item> NAME:  {{profile.name}} </mat-list-item>
        <mat-list-item> BIO:   {{profile.description}} </mat-list-item>
       </mat-list>
       

</mat-card>
<mat-card>
    <app-messages></app-messages>
</mat-card>

